@import "tailwindcss";

body{
    background-color: #000;
}

@font-face {
  font-family: "Futurism";
  src: url("/fonts/Futurism.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-futurism: "Futurism", sans-serif;
  --font-futura: "Futura", sans-serif;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  pointer-events: none;
}